# Byte-compiled / optimized / DLL files
__pycache__/
# Excludes .pyc, .pyo, .pyd files
*.py[cod]  
.pytest_cache/
mypy_cache/
# add your virtual environment here:
venv/
.env
# macOS metadata
.DS_Store 

###### data-nci/ ######
DeepSignalingFlow/data-nci/raw_data

###### data-drugcomb-fi/ ######
DeepSignalingFlow/train_model/data-drugcomb-fi
DeepSignalingFlow/train_model/enc_dec/
DeepSignalingFlow/train_model/geo_loader/
DeepSignalingFlow/train_model/utils.py